                <div class="timeframes-selection-grid">
                    <div class="timeframe-item">
                        <input type="radio" class="btn-check" name="timeframe" id="timeframe-5m" value="5m" required>
                        <label class="btn btn-timeframe" for="timeframe-5m">5m</label>
                    </div>
                    <div class="timeframe-item">
                        <input type="radio" class="btn-check" name="timeframe" id="timeframe-15m" value="15m">
                        <label class="btn btn-timeframe" for="timeframe-15m">15m</label>
                    </div>
                    <div class="timeframe-item">
                        <input type="radio" class="btn-check" name="timeframe" id="timeframe-30m" value="30m">
                        <label class="btn btn-timeframe" for="timeframe-30m">30m</label>
                    </div>
                    <div class="timeframe-item">
                        <input type="radio" class="btn-check" name="timeframe" id="timeframe-1h" value="1h">
                        <label class="btn btn-timeframe" for="timeframe-1h">1h</label>
                    </div>
                    <div class="timeframe-item">
                        <input type="radio" class="btn-check" name="timeframe" id="timeframe-4h" value="4h">
                        <label class="btn btn-timeframe" for="timeframe-4h">4h</label>
                    </div>
                </div> 